<h1>Game Of Life</h1>

<div class='actions'>
  <div class="pattern-container" id='patterns'>
    <div class='pattern' data-pattern='glider'>
      Glider
    </div>

    <div class='pattern' data-pattern='square'>
      Square
    </div>

    <div class='pattern' data-pattern='pentadecathlon'>
      Pentadecathlon
    </div>
  </div>

  <div id='players'>
    1 Player
  </div>

  <div id='color'>
    <span class='subtitle'>Change</span>
  </div>
</div>

<canvas id="game" width="600" height="400"></canvas>
